@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #202124;
  font-family: ui-sans-serif system-ui -apple-system BlinkMacSystemFont "Segoe UI"
    Roboto "Helvetica Neue"
    Arial "Noto Sans"
    sans-serif "Apple Color Emoji"
    "Segoe UI Emoji"
    "Segoe UI Symbol"
    "Noto Color Emoji";
}

.textColor {
  color: #1967D2;
}

.BgColor {
  background-color: #1967D2;
}

.LogoStyle {
  color: #1967D2;

}

.BgBanner {

  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.429), rgba(36, 104, 230, 0.201));
  width: 100%;
  height: 100%;
}

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.BgCoustomColor {
  background-color: #F0F5F7;

}

.boxshadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

